run = "python main.py"
language = "python3"
modules = ["nodejs-20", "python-3.11"]

[nix]
channel = "stable-24_05"

[deployment]
run = ["python", "main.py"]
deploymentTarget = "vm"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 42559
externalPort = 3000

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "monitor"

[[workflows.workflow]]
name = "monitor"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"
waitForPort = 5000

[agent]
expertMode = true
